html, body {
  background: black; }

h1, h2, h3 {
  color: white; }

#content {
  padding: 50px 25px;
  background: #eeeeee;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  overflow: auto;
  z-index: 2;
  margin-left: 235px; }
  #content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    color: black; }

#nav {
  width: 235px;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  background: #222222; }
  #nav .nav-header {
    padding: 5px 5px 5px 15px; }
  #nav .nav-list > li > a, #nav .nav-list {
    font-size: 12px;
    text-shadow: none;
    color: #aaaaaa;
    font-family: "titillium", verdana, arial, sans-serif;
    font-weight: 400; }
  #nav ul {
    margin: 20px 10px; }

.nav1 {
  border: 1px #555555 solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #555555;
  white-space: nowrap;
  color: white;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400; }

.nav2 {
  margin: 2px;
  margin: 2px 0px 2px 5px;
  padding-left: 7px;
  color: #aaaaaa !important;
  font-size: 12px;
  text-shadow: none; }

.nav2:hover {
  color: red; }

div.code-example {
  margin: 40px 0; }
  div.code-example div.code-example-buttons {
    margin-top: 10px; }
  div.code-example div.code-example-title {
    font-size: 18px;
    font-weight: bold;
    float: left; }
    div.code-example div.code-example-title div.description {
      font-size: 12px;
      font-weight: normal; }
    div.code-example div.code-example-title small {
      font-size: 12px;
      font-weight: normal;
      padding: 0 10px;
      color: #999999; }
